<a href="https://colab.research.google.com/github/Aditya-ai0/Fake_News_Detection/blob/main/Aditya_Vikram_projectr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**FAKE NEWS DETECTION USING MACHINE LEARNING**

### **Reading the data set**

In [1]:
import pandas as pd

In [2]:
dffake = pd.read_csv('/content/Fake.csv')
dfreal = pd.read_csv('/content/True.csv')

**Data Preprocessing**

**data.head() is used to take a general idea of the data set as it shows only first 5 rows of the dataset**

In [3]:
dffake.head()

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

In [4]:
dfreal.head()

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017

[5 rows x 4 columns]

**If we want to check that how many columns do we have in the dataset we use data.columns**

In [5]:
dffake.columns
dfreal.columns

Index(['title', 'text', 'subject', 'date'], dtype='object')

**Now if we want to check the shape of the data we use data.shape , it tells about the number of rows and columns present in the data set**

In [6]:
dffake.shape

(23481, 4)

In [7]:
dfreal.shape

(21417, 4)

**data.info() provides the information about the data for eg, about the total number of enteries , number of columns and the data type , is there any null values or not etc**

In [8]:
dffake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [9]:
dfreal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

**No adding a new column named label with value 1 for the real dataset and 0 for the fake one.**

In [ ]:
dffake['label'] = 0
dfreal['label'] = 1

In [ ]:
dfreal.head()

                                               title  ... label
0  As U.S. budget fight looms, Republicans flip t...  ...     1
1  U.S. military to accept transgender recruits o...  ...     1
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...     1
3  FBI Russia probe helped by Australian diplomat...  ...     1
4  Trump wants Postal Service to charge 'much mor...  ...     1

[5 rows x 5 columns]

In [ ]:
dffake.head()

                                               title  ... label
0   Donald Trump Sends Out Embarrassing New Year’...  ...     0
1   Drunk Bragging Trump Staffer Started Russian ...  ...     0
2   Sheriff David Clarke Becomes An Internet Joke...  ...     0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...     0
4   Pope Francis Just Called Out Donald Trump Dur...  ...     0

[5 rows x 5 columns]

**Merging both the data set into a single one**

In [ ]:
dataframe = pd.concat([dffake,dfreal])
dataframe

                                                   title  ... label
0       Donald Trump Sends Out Embarrassing New Year’...  ...     0
1       Drunk Bragging Trump Staffer Started Russian ...  ...     0
2       Sheriff David Clarke Becomes An Internet Joke...  ...     0
3       Trump Is So Obsessed He Even Has Obama’s Name...  ...     0
4       Pope Francis Just Called Out Donald Trump Dur...  ...     0
...                                                  ...  ...   ...
21412  'Fully committed' NATO backs new U.S. approach...  ...     1
21413  LexisNexis withdrew two products from Chinese ...  ...     1
21414  Minsk cultural hub becomes haven from authorities  ...     1
21415  Vatican upbeat on possibility of Pope Francis ...  ...     1
21416  Indonesia to buy $1.14 billion worth of Russia...  ...     1

[44898 rows x 5 columns]

**Removing ununnecessary columns of the data set using the drop function**

In [ ]:
dataframe = dataframe.drop(["title","subject","date"], axis = 1)

In [ ]:
dataframe.head()

                                                text  label
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

**Randomly shuffling the data set to remove any kind of bias**

In [ ]:
dataframe = dataframe.sample(frac =1)

In [ ]:
dataframe

                                                    text  label
19094  VIENNA (Reuters) - Austria s anti-immigration ...      1
8461   Ted Cruz probably wishes Donald Trump had atte...      0
20865  ANKARA (Reuters) - Turkey s president said on ...      1
8530   If you were not aware there is a seriously old...      0
3464   UNITED NATIONS (Reuters) - The United States’ ...      1
...                                                  ...    ...
8516   NEW YORK (Reuters) - Billionaire hedge fund ma...      1
4635   WASHINGTON (Reuters) - U.S. President Donald T...      1
11815  SEOUL (Reuters) - South Korean officials said ...      1
1903   This week, Donald Trump signed a deeply concer...      0
1454   On Tuesday, Donald Trump kicked off his mornin...      0

[44898 rows x 2 columns]

**Now here we are having two columns text and Label.Now, considering text as X and Label as Y ,so text is independent and Class is a dependent value because based on our text we can say that whether our news is fake or real**

In [ ]:
x = dataframe["text"]
y = dataframe["label"]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

**Splitting the dataset into training and testing set**

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)
y_train

10619    0
6184     0
8761     1
8028     1
3159     1
        ..
19284    0
18050    1
20666    0
7422     0
9454     0
Name: label, Length: 35918, dtype: int64

**Vectorization of texts**

**TF-IDF algorithm is a combination of two different algorithms namely TF (Term-Frequency) and IDF (Inverse Document Frequency). Term Frequency can be expressed as the probability of occurrence of a term in a document.**

**Inverse Document Frequency is the logarithmic value of the inverse probability of the number of documents containing a certain term.**

**This function can be used to measure how important a term is in a document, and that can be used to train our model to quantify the weight of that word in deciding the validity of the news.**

In [ ]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

**Training the model.**

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
LR = LogisticRegression()
LR.fit(xv_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
LR.score(xv_test, y_test)

0.984966592427617

**TESTING**

In [ ]:
news = str(input())
testing_news = {"text":[news]}
new_def_test = pd.DataFrame(testing_news)
new_x_test = new_def_test["text"]
new_xv_test = vectorization.transform(new_x_test)
pred_LR = LR.predict(new_xv_test)
if pred_LR[0] == 0:
  print("It is a fake news")
elif pred_LR[0] == 1:
  print("It is a real news")

The following statementsÂ were posted to the verified Twitter accounts of U.S. President Donald Trump, @realDonaldTrump and @POTUS.  The opinions expressed are his own.Â Reuters has not edited the statements or confirmed their accuracy.  @realDonaldTrump : - Vanity Fair, which looks like it is on its last legs, is bending over backwards in apologizing for the minor hit they took at Crooked H. Anna Wintour, who was all set to be Amb to Court of St Jamesâ€™s & a big fundraiser for CH, is beside herself in grief & begging for forgiveness! [1024 EST] -- Source link: (bit.ly/2jBh4LU) (bit.ly/2jpEXYR)
It is a real news

In [ ]:
news = str(input())
testing_news = {"text":[news]}
new_def_test = pd.DataFrame(testing_news)
new_x_test = new_def_test["text"]
new_xv_test = vectorization.transform(new_x_test)
pred_LR = LR.predict(new_xv_test)
if pred_LR[0] == 0:
  print("It is a fake news")
elif pred_LR[0] == 1:
  print("It is a real news")

"""Go to Article  President Barack Obama has been campaigning hard for the woman who is supposedly going to extend his legacy four more years. The only problem with stumping for Hillary Clinton, however, is sheâ€™s not exactly a candidate easy to get too enthused about.  """
It is a fake news